<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

    <!-- this is header -->
        <div th:fragment="header">
          <title th:attr="data-custom=#{thymeleaf.app.title}">Blue Harvest</title>
            <link rel="stylesheet" th:href="@{/css/main.css}"
                  href="../../css/main.css"/>

           <!-- <link rel="stylesheet"
                  href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"/>-->
            <meta charset="utf-8"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
            <meta name="viewport" content="width=device-width, initial-scale=1"/>
            <title>Bootstrap CRUD Data Table for Database with Modal Form</title>
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round"/>
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
            <link rel="stylesheet" th:href="@{/css/table.css}" href="../../css/table.css"/>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script type="text/javascript">
              function deleteAccount(i) {
                $("#deleteAccountForm").attr('action',
                    "/accounts/" + i);
              }

              function deleteTransaction(i, j) {
                $("#deleteTransactionForm").attr('action',
                    "/accounts/" + j + "/transactions/" + i);
              }

              function editCustomer(i) {
                $("#editCustomerForm").attr('action',
                    "/customers/" + i);
                $("#customer_firstName").val(document.getElementById('firstName_' + i).innerHTML);
                $("#customer_lastName").val(document.getElementById('lastName_' + i).innerHTML);
                $("#customer_phone").val(document.getElementById('phoneNumber' + i).innerHTML);
                $("#editCustomerForm").attr('action',
                    "/customers/" + i);
              }

                $(document).ready(function(){
                    // Activate tooltip
                    /*$('[data-toggle="tooltip"]').tooltip();*/
                     $('.dropdown-toggle').dropdown();

                    // Select/Deselect checkboxes
                    var checkbox = $('table tbody input[type="checkbox"]');
                    $("#selectAll").click(function(){
                        if(this.checked){
                            checkbox.each(function(){
                                this.checked = true;
                            });
                        } else{
                            checkbox.each(function(){
                                this.checked = false;
                            });
                        }
                    });
                    checkbox.click(function(){
                        if(!this.checked){
                            $("#selectAll").prop("checked", false);
                        }
                    });

                  var addTransactionModal = $("#addTransactionModal");
                  if (addTransactionModal != NaN) {
                    addTransactionModal.click(function () {
                      var myBookId = "1";
                      $(".modal-body #id").val(myBookId);
                    });
                  }



                });
            </script>
        </div>

</head>

<body>
<!-- this is header -->
<div th:fragment="navbar">
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" th:href="@{/login}">Blue Harvest Bank</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse navbar-right">

                <ul class="nav navbar-nav" sec:authorize="isAuthenticated()">
                  <li class="active"><a th:href="@{/accounts}">Accounts</a></li>
                </ul>
                <ul class="nav navbar-nav" sec:authorize="isAuthenticated()">
                  <li class="active"><a th:href="@{/customers}">Customers</a></li>
                </ul>
              <!--                <ul class="nav navbar-nav" sec:authorize="isAuthenticated()">-->
              <!--                    <li class="dropdown active">-->
              <!--                        <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/accounts}">Accounts-->
              <!--                            <span class="caret"></span></a>-->
              <!--                        <ul class="dropdown-menu">-->
              <!--                            <li><a th:href="@{/accounts/create}">Create Account</a></li>-->
              <!--                            <li><a th:href="@{/accounts}">Search Account</a></li>-->
              <!--                        </ul>-->
              <!--                    </li>-->
              <!--                </ul>-->

              <!--                <ul class="nav navbar-nav" sec:authorize="isAuthenticated()">-->

              <!--                    <li class="dropdown active">-->
              <!--                        <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/customers}">Customers-->
              <!--                            <span class="caret"></span></a>-->
              <!--                        <ul class="dropdown-menu">-->
              <!--                            <li><a th:href="@{/customers/create}">Register new customer</a></li>-->
              <!--                            <li><a th:href="@{/customers}">Search Customer</a></li>-->
              <!--                        </ul>-->
              <!--                    </li>-->
              <!--                </ul>-->
                <!-- show registration only if user is not yet authenticated -->
                <ul class="nav navbar-nav" sec:authorize="!isAuthenticated()">
                    <li class="active"><a th:href="@{/registration}">Registration</a></li>
                </ul>
                <!-- show login only if user is not yet authenticated -->
                <ul class="nav navbar-nav" sec:authorize="!isAuthenticated()">
                    <li class="active"><a th:href="@{/login}">Login</a></li>
                </ul>
                <!-- show sign out only if user is authenticated -->
                <ul class="nav navbar-nav" sec:authorize="isAuthenticated()">
                    <li class="active"><a th:href="@{/logout}">Sign Out</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

</body>
</html>