<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="/fragments/header :: header"/>
</head>

<body>

<div th:replace="/fragments/header :: navbar"/>

<div class="container">

  <div class="alert alert-info" th:if="${success_msg}" th:utext="${success_msg}"></div>
  <div class="alert alert-info" th:if="${error_msg}" th:utext="${error_msg}"></div>
  <div th:replace="/fragments/customers :: customers"/>

</div>

<div th:replace="/fragments/footer :: footer"/>

</body>
</html>